.candy-container img {
  width: 70px;
  height: 70px;
  position: absolute;

  animation-name: balance;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  /*Css firefox*/
  -moz-animation-name: balance;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  /*Css safari e chrome*/
  -webkit-animation-name: balance;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  /*Css IE*/
  -ms-animation-name: balance;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: alternate;

  /*Css Opera*/
  -o-animation-name: balance;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
}

.candy-container img:nth-child(1) {
  margin-left: 200px;
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  -o-animation-delay: 1000ms;
}

.candy-container img:nth-child(2) {
  margin-left: 310px;
  animation-delay: 1400ms;
  -webkit-animation-delay: 1400ms;
  -moz-animation-delay: 1400ms;
  -ms-animation-delay: 1400ms;
  -o-animation-delay: 1400ms;
}

.candy-container img:nth-child(3) {
  margin-left: 420px;
  animation-delay: 1800ms;
  -webkit-animation-delay: 1800ms;
  -moz-animation-delay: 1800ms;
  -ms-animation-delay: 1800ms;
  -o-animation-delay: 1800ms;
}

.candy-container img:nth-child(4) {
  margin-left: 530px;
  animation-delay: 2200ms;
  -webkit-animation-delay: 2200ms;
  -moz-animation-delay: 2200ms;
  -ms-animation-delay: 2200ms;
  -o-animation-delay: 2200ms;
}

.candy-container img:nth-child(5) {
  margin-left: 640px;
  animation-delay: 2600ms;
  -webkit-animation-delay: 2600ms;
  -moz-animation-delay: 2600ms;
  -ms-animation-delay: 2600ms;
  -o-animation-delay: 2600ms;
}

.candy-container img:nth-child(6) {
  margin-left: 750px;
  animation-delay: 3000ms;
  -webkit-animation-delay: 3000ms;
  -moz-animation-delay: 3000ms;
  -ms-animation-delay: 3000ms;
  -o-animation-delay: 3000ms;
}

.candy-container img:nth-child(7) {
  margin-left: 860px;
  animation-delay: 3400ms;
  -webkit-animation-delay: 3400ms;
  -moz-animation-delay: 3400ms;
  -ms-animation-delay: 3400ms;
  -o-animation-delay: 3400ms;
}

.candy-container img:nth-child(8) {
  margin-left: 970px;
  animation-delay: 3800ms;
  -webkit-animation-delay: 3800ms;
  -moz-animation-delay: 3800ms;
  -ms-animation-delay: 3800ms;
  -o-animation-delay: 3800ms;
}

.candy-container img:nth-child(9) {
  margin-left: 1080px;
  animation-delay: 4200ms;
  -webkit-animation-delay: 4200ms;
  -moz-animation-delay: 4200ms;
  -ms-animation-delay: 4200ms;
  -o-animation-delay: 4200ms;
}

@keyframes balance {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(5vw);
  }
}

@-moz-keyframes balance {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(5vw);
  }
}

@-webkit-keyframes balance {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(5vw);
  }
}

@-o-keyframes balance {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(5vw);
  }
}

@-ms-keyframes balance {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(5vw);
  }
}

