<div class="animation-container">

  <div>
    <div class="heart-container">
      <img class="heart" src="../../assets/image/heart.png">
    </div>

    <svg viewBox="0 100 1000 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Rose Polli doces</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>

  <div class="candy-container">
    <img src="../assets/image/strawberry.png">
    <img src="../assets/image/cupcake.png">
    <img src="../assets/image/donuts.png">
    <img src="../assets/image/strawberry.png">
    <img src="../assets/image/cupcake.png">
    <img src="../assets/image/donuts.png">
    <img src="../assets/image/strawberry.png">
    <img src="../assets/image/cupcake.png">
    <img src="../assets/image/donuts.png">
  </div>
</div>
